body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

input {
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    background: rgb(1, 117, 36);
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: rgb(1, 117, 36);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eee;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.checked {
    text-decoration: line-through;
    color: gray;
}

.close {
    color: red;
    font-weight: bold;
    cursor: pointer;
}